<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[PAGE TITLE]</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>[PAGE HEADING]</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>I am a second time college student from Arizona State University. My first degree was in Graphic Information Technology with a major focus in Commerical Photography and video with a secondary focus in motion graphics. I have decided to return to school to develop my web development skills in hopes to be a full stack developer or at least deepen my front end development skills to find better roles and better paying positions.</p>
</body>
</html>